<footer id="footer" class="footer bg-white">
    <div
        class="copyright d-flex justify-content-center align-items-center gap-3"
    >
        <div style="font-weight: bold">2024</div>
        <div style="font-weight: bold">|</div>
        <div style="font-weight: bold">Eczane KDS</div>
    </div>
</footer>
