<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<title><%= title %></title>
<meta content="" name="description" />
<meta content="" name="keywords" />
<link href="./favicon.ico" rel="icon" />
<link href="./theme/img/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="https://fonts.gstatic.com" rel="preconnect" />
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"
/>
<link href="./theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link
    href="./theme/vendor/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
/>
<link href="./theme/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="./theme/vendor/quill/quill.snow.css" rel="stylesheet" />
<link href="./theme/vendor/quill/quill.bubble.css" rel="stylesheet" />
<link href="./theme/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="./theme/vendor/simple-datatables/style.css" rel="stylesheet" />
<link href="./theme/css/style.css" rel="stylesheet" />
